html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: black;
    height: 100%;
    font-family: 'Dancing Script', cursive;
}

/* Canvas layers */
canvas {
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
}

/* Text */
#text {
    position: fixed;
    top: 28%;
    width: 100%;
    text-align: center;
    font-size: 3em;
    color: gold;
    opacity: 0;
    transition: opacity 1.2s ease;
    z-index: 2000;  /* hoger dan alle canvassen */
    pointer-events: none;
    transform-origin: center center;
}

#credits {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translateX(120vw);
    opacity: 0;
    font-size: 3em;
    color: #e6f2ff;
   filter:
        drop-shadow(0 0 22px rgba(120,180,255,0.9))
        drop-shadow(0 0 48px rgba(120,180,255,0.4));

    transition: transform 3.2s cubic-bezier(0.16,1,0.3,1),
                opacity 2.2s ease;
    z-index: 1000;
    pointer-events: none;
}

#credits.show {
    opacity: 1;
    transform: translateX(-50%);
}


/* Overlay 
#startOverlay {
    position: fixed;
    inset: 0;
    z-index: 2000;
    display: none;
    cursor: pointer;

}
*/


/* test */
#startOverlay {
    position: fixed;
    inset: 0;
    z-index: 9999;

    display: block;
    background: rgba(255,0,0,0.15); /* TEST: rood */

    pointer-events: auto;
    cursor: pointer;
}
/* einde test */








#startOverlay.active {
    display: block;
    background: radial-gradient(circle, rgba(255,255,255,0.08), rgba(0,0,0,0.5));
}

#countdown {
    position: fixed;
    left: 50%;
    top: 20%;       /*  45 = subtiel, 42 = show-gevoel, 40 = agressief*/
    transform: translate(-50%, -50%);
    z-index: 9999;
    pointer-events: none;
}

#countdownInner {
    display: inline-block;
    text-align: center;
    transform-origin: 50% 50%;
    will-change: transform;

    font-family: 'Arial Black', 'Arial', sans-serif;
    font-weight: 900;
    font-size: clamp(100px, 20vw, 280px);
    letter-spacing: 0.04em;


}




@keyframes camShake {
    0%   { transform: translate(0,0); }
    20%  { transform: translate(-12px, 8px); }
    40%  { transform: translate(10px, -6px); }
    60%  { transform: translate(-8px, 10px); }
    80%  { transform: translate(6px, -10px); }
    100% { transform: translate(0,0); }
}

.shake {
    animation: camShake 0.6s ease;
}


@keyframes newYearZoom {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: scale(1.08);
        opacity: 1;
    }
}


#text.newyear {
    font-size: clamp(4em, 8vw, 7em);
    animation: newYearZoom 6s ease-out forwards;
}

@keyframes textBreathe {
    0%   { transform: scale(1);   }
    50%  { transform: scale(1.03);}
    100% { transform: scale(1);   }
}

#text.breathe {
    animation: textBreathe 6s ease-in-out infinite;
}



